{block name="extra-panel" append}
    <table class="lmsbox" id="lms-ui-welcome-box-tauron">
        <thead>
            <tr onclick="showOrHide('welcome_tauron');">
                <th class="text-center">
                    <i class="fas fa-bolt"></i> {trans('Power outages')} - ostatnia aktualizacja
                    {$tauron_power_outages.last_updated_cache}
                </th>
            </tr>
        </thead>
        <tbody id="welcome_tauron" {if !$tauron_power_outages.outages_count > 0}style="display:none;" {/if}>
            {if $tauron_power_outages.outages}
                <tr>
                    <td style="padding:1em;">
                        <table class="lmsbox lms-ui-background-cycle">
                            <colgroup>
                                <col style="width: 10%;">
                                <col style="width: 10%;">
                                <col style="width: 80%;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>{trans("Day")}</th>
                                    <th>{trans("Godziny")}</th>
                                    <th>{trans("Location")}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach $tauron_power_outages.outages as $item}
                                    <tr
                                        class="highlight{if $item.StartDate|date_format:'%Y-%m-%d' == date('Y-m-d')} alert bold{/if}">
                                        <td>{$item.StartDate|date_format:"%Y-%m-%d"}</td>
                                        <td>{$item.StartDate|date_format:"%H:%M"} - {$item.EndDate|date_format:"%H:%M"}</td>
                                        <td>{$item.Message|escape}</td>
                                    </tr>
                                {/foreach}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {else}
                <tr>
                    <td style="padding:1em;">
                        Brak planowanych i awaryjnych wyłączeń.
                    </td>
                </tr>
            {/if}
        </tbody>
    </table>
{/block}