{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <h1>{trans('Today\'s power outages')}</h1>
    <table class="lmsbox lms-ui-background-cycle">
        <colgroup>
            <col style="width: 7%;">
            <col style="width: 7%;">
            <col style="width: 7%;">
            <col style="width: 79%;">
        </colgroup>
        <thead>
            <tr>
                <th>{trans("Day")}</th>
                <th>{trans("Godziny")}</th>
                <th>{trans("Disconnection")}</th>
                <th>{trans("Location")}</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$tauron_power_outages['CurrentOutagePeriods'] item=item}
                {if $item['OutageType'] eq 1}
                    {$OutageType = 'planned'}
                {elseif $item['OutageType'] eq 2}
                    {$OutageType = 'emergency'}
                {else}
                    {$OutageType = $item['OutageType']}
                {/if}
                <tr class="highlight">
                    <td>{$item['StartDate']|date_format:"%Y-%m-%d"}</td>
                    <td>{$item['StartDate']|date_format:"%H:%M"} - {$item['EndDate']|date_format:"%H:%M"}</td>
                    <td {if $item['OutageType'] eq 2} class="alert bold" {/if}>{trans($OutageType)}</td>
                    <td>{$item['Message']}</td>
                </tr>
            {/foreach}
        </tbody>
    </table>

<h1>{trans('Planned power outages with 5 days in advance')}</h1>
<table class="lmsbox lms-ui-background-cycle">
    <colgroup>
        <col style="width: 7%;">
        <col style="width: 7%;">
        <col style="width: 7%;">
        <col style="width: 79%;">
    </colgroup>
    <thead>
        <tr>
            <th>{trans("Day")}</th>
            <th>{trans("Godziny")}</th>
            <th>{trans("Disconnection")}</th>
            <th>{trans("Location")}</th>
        </tr>
    </thead>
    <tbody>
        {foreach from=$tauron_power_outages['FutureOutagePeriods'] item=item}
        {if $item['OutageType'] eq 1}
        {$OutageType = 'planned'}
        {elseif $item['OutageType'] eq 2}
        {$OutageType = 'emergency'}
        {else}
        {$OutageType = $item['OutageType']}
        {/if}
        <tr class="highlight">
            <td>{$item['StartDate']|date_format:"%Y-%m-%d"}</td>
            <td>{$item['StartDate']|date_format:"%H:%M"} - {$item['EndDate']|date_format:"%H:%M"}</td>
            <td {if $item['OutageType'] eq 2} class="alert bold" {/if}>{trans($OutageType)}</td>
            <td>{$item['Message']}</td>
        </tr>
        {/foreach}
    </tbody>
</table>
<input type="button" value="{t}Support the author with a tip.{/t}" class="btn-donate" onclick="showOrHide('donate');">
<div id="donate" class="bg-donate" style="display:none;">
    <ul>
        <li>{t}Bitcoin (BTC){/t}: bc1qvwahntcrwjtdp0ntfd0l6kdvdr9d9h6atp6qrr</li>
        <li>{t}Ethereum (ETH){/t}: 0xEFCd4b066195652a885d916183ffFfeEEd931f40</li>
    </ul>
</div>

<style>
    .bg-donate {
        color: black;
        background: ghostwhite;
        border: 1px solid gray;
        padding: 1em;
    }

    input.btn-donate {
        color: #333;
        font-weight: bold;
        background: #eee;
        padding: 5px 10px 5px 10px;
        border: 1px solid gray;
        text-decoration: none;
    }

    input.btn-donate:hover {
        background: #fff;
        text-decoration: none;
    }
</style>
{/block}